@font-face {
    font-family: 'iconfont';  /* Project id 2914540 */
    src: url('//at.alicdn.com/t/font_2914540_tbewafugfps.woff2?t=1638932907755') format('woff2'),
         url('//at.alicdn.com/t/font_2914540_tbewafugfps.woff?t=1638932907755') format('woff'),
         url('//at.alicdn.com/t/font_2914540_tbewafugfps.ttf?t=1638932907755') format('truetype');
  }

.iconfont {
    font-family: "iconfont" !important;
    font-size: .16rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}